

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    $("button").click(function(){
     var data = { data: JSON.stringify({"lesson": "Operation System", "score": 100})}
      $.ajax({
        url:"http://127.0.0.1:5000/sendjson",
        type: 'POST',
        data: data,
        success: function (msg) {
            alert(msg.name)
        }
    })
  });
});

</script>
</head>
<body>

<div id="myDiv"><h2>使用 AJAX 修改该文本内容</h2></div>
<button>向页面发送 HTTP POST 请求，并获得返回的结果</button>


</body>
</html>
